

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('./components/fonts/EliceDigitalCoding_Regular.ttf') format("woff2");
    font-weight: normal;
    font-style: normal;
}
.App{
  letter-spacing: -3px;
  width:80%;
  
  padding:10px;
  top:25%;
  left:25%;
  right:25%;
  bottom:25%;
  font-family: "EliceDigitalBaeum_Regular";
}


.main{
  width:70%;
}
.Header{
  background-color:rgb(255,180,50);
  height:100%;
  border-radius: 50px 0px 0px 0px;
}

.Header .title{
  text-decoration:none;
  color :black;
}

.nav{
  background-color: rgb(220,220,220);;
  height:100%;
  border-radius: 0px 50px 0px 0px;
}

.nav .nav-item{
  top:25%;
}

.nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: white;
}

.nav .nav-link{
  text-decoration: none;
}
.Navigation{
  background-color:rgb(220,220,220);
}

.GraduateGuide .list{
  width:200px;
  height: 100%;
        background-color: rgb(255, 248, 226);
        text-align: center;
}

.GraduateGuide .list:hover{
  background-color:gray;
}

.GraduateGuide .component{
  background-color: rgb(255, 248, 226);
  width:800px;
  
 
}

.GraduateGuide .component #kyoyang_info,#major_info, #graduate_info, #group_info{
  display: block;
}

.GraduateGuide .component .lectureList{
    display:inline-block;
    position :relative;
    line-height:100px;
    vertical-align:middle;
    border-radius : 20px;
    background-color : rgb(240,240,240);
    width: 400px;
    height:100px;
    box-shadow : 3px 3px 3px 3px #999;
    font-size : 20px;
    overflow:visible;
}

.GraduateGuide .component .listbox{
    overflow:auto;
}

.ScheduleTable .A0 #B0, .A1 #B0, .A2 #B0, .A3 #B0{
  background-color:lightblue;
  
}

.ScheduleTable{
  
  width:80%;
}

.Navigation #guide, #college, #major{
  color: black;
}

.Navigation .menu-item{
  text-decoration: none;
  color: black;
}

.ScheduleGuide .container{
  width:600px;
}

.ScheduleGuide .schedule_list{
  width:500px;
  border-radius :10px;
  background-color: lightblue;
}

.ScheduleGuide .btn{
  width:100px;
}

.ScheduleGuide .make{
    color:white;
    background-color:orange;
    width:100px;
    text-align:center;
    border-radius : 10px;
    text-decoration:none;
}

.emptyGuide{
 
  padding :10px;
  
  
  border-radius : 0px 0px 50px 50px;
}

.emptyGuide #img{
  border-radius: 50px;
  border : 3px solid lightgray;
  padding: 0px;
}


 #library_cover{
  position:relative;
  top:-500px;
  left:360px;
  clip-path:polygon(40% 0%, 110% 10%, 75% 75%, 60% 100%, 30% 85%,10% 50%,10% 40%, 15% 20%);
  width:150px;
  height:150px;
  background-color: rgba(0,120,200,0.7);
  display:block;
  
}
#library_cover:hover{
  display:block;
  background-color: rgba(0,120,200,0.7);
}

#new_tech_cover{
  position:relative;
  top:-700px;
  left:200px;
  clip-path:polygon(40% 40%, 55% 40%, 80% 10%, 100% 15%,100% 30%,85% 50%,85% 70%, 60% 85%,30% 75%, 25% 50%);
  width:200px;
  height:200px;
  background-color: ;
  display:block;
  
}
#new_tech_cover:hover{
  display:block;
  background-color: rgba(0,200,120,0.7);
}