

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('./components/fonts/EliceDigitalCoding_Regular.ttf') format("woff2");
    font-weight: normal;
    font-style: normal;
}
.App{
  letter-spacing: -3px;
  width:80%;
  
  padding:10px;
  top:25%;
  left:25%;
  right:25%;
  bottom:25%;
  font-family: "EliceDigitalBaeum_Regular";
}


.main{
  width:70%;
}
.Header{
  background-color:rgb(255,180,50);
  height:100%;
  border-radius: 50px 0px 0px 0px;
}

.Header .title{
  text-decoration:none;
  color :black;
}

.nav{
  background-color: rgb(220,220,220);;
  height:100%;
  border-radius: 0px 50px 0px 0px;
}

.nav .nav-item{
  top:25%;
}

.nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: white;
}

.nav .nav-link{
  text-decoration: none;
}
.Navigation{
  background-color:rgb(220,220,220);
}

.GraduateGuide .list{
  width:200px;
  height: 100%;
        background-color: rgb(255, 248, 226);
        text-align: center;
}

.GraduateGuide .list:hover{
  background-color:gray;
}

.GraduateGuide .component{
  background-color: rgb(255, 248, 226);
  width:800px;
  
 
}

.GraduateGuide .component #kyoyang_info,#major_info, #graduate_info, #group_info{
  display: block;
}

.GraduateGuide .component .lectureList{
    display:inline-block;
    position :relative;
    line-height:100px;
    vertical-align:middle;
    border-radius : 20px;
    background-color : rgb(240,240,240);
    width: 400px;
    height:100px;
    box-shadow : 3px 3px 3px 3px #999;
    font-size : 20px;
    overflow:visible;
}

.GraduateGuide .component .listbox{
    overflow:auto;
}

.ScheduleTable .A0 #B0, .A1 #B0, .A2 #B0, .A3 #B0{
  background-color:lightblue;
}



.ScheduleTable{
  
  width:80%;
}

.Navigation #guide, #college, #major{
  color: black;
}

.Navigation .menu-item{
  text-decoration: none;
  color: black;
}

.ScheduleGuide .container{
  width:600px;
}

.ScheduleGuide .schedule_list{
  width:500px;
  border-radius :10px;
}

.ScheduleGuide .g1{
  background-color: lightblue;
}

.ScheduleGuide .g2{
  background-color: lightgreen;
}

.ScheduleGuide .g3{
  background-color: lightsalmon;
}

.ScheduleGuide .g4{
  background-color: lightcyan;
}

.ScheduleGuide .g5{
  background-color: lightcoral;
}

.ScheduleGuide .g6{
  background-color: lightgoldenrodyellow;
}

.ScheduleGuide .btn{
  width:100px;
}

.ScheduleGuide .make{
    color:white;
    background-color:orange;
    width:100px;
    text-align:center;
    border-radius : 10px;
    text-decoration:none;
}

.emptyGuide{
  padding :10px;
  border-radius : 0px 0px 50px 50px;
}

.emptyGuide #img{
  border-radius: 50px;
  border : 3px solid lightgray;
  padding: 0px;
}

.emptyGuide  .categories .category{
  margin:px;
  padding:10px;
  background-color: lightyellow;
}

.emptyGuide .categories ul .category:hover{
  margin:px;
  padding:10px;
  background-color: orange;
}

.emptyGuide ul{
  padding-left: 0px;
}

.emptyGuide  .tabs{
  margin:0px 0px 0px 0px;
  padding:10px 0px 10px 0px;
  background-color: orange;
  height: 973px;
  overflow: scroll;
}

.emptyGuide .tabs::-webkit-scrollbar{
  display: none;
}

.emptyGuide .tabs  a{
  margin : 3px;
  padding:2px 5px 2px 5px;
  background-color: white;
  border-radius: px;
  
}
.tooltip {
  position: absolute;
  color: #fff;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  opacity: 1;
}

.containerr{
  position: relative;
}

 #library_cover{
  position:relative;
  top:-500px;
  left:330px;
  clip-path:polygon(15% 0%, 75% 20%, 50% 100%, 20% 85%,5% 50%,5% 30%, 5% 20%);
  width:200px;
  height:200px;
  background-color: rgba(0,120,200,0.7);
  display:block;
  
  
}
#library_cover:hover{
  display:block;
  background-color: rgba(0,120,200,0.7);
}

#new_tech_cover{
  position:relative;
  top:-680px;
  left:-20px;
  clip-path:polygon(40% 0%, 90% 10%,70% 95%,20% 75%);
  width:200px;
  height:200px;
  background-color: ;
  display:block;
  
}
#new_tech_cover:hover{
  display:block;
  background-color: rgba(0,200,120,0.7);
}

#tech_cover{
  position:relative;
  top:-600px;
  left:-50px;
  clip-path:polygon(40% 10%,90% 20%,75% 80%, 45% 100%,0% 80%, 13% 25%);
  width:200px;
  height:200px;
  background-color: rgba(255, 255, 0, 0.616);
  display:block;
  
}

#oneHeung_cover{
  position:relative;
  top:-850px;
  left:-400px;
  clip-path:polygon(35% 20%,85% 60%,65% 85%, 13% 43%);
  width:200px;
  height:200px;
  background-color: rgba(128, 0, 128, 0.692);
  display:block;
  
}

#infoP_cover{
  position:relative;
  top:-1000px;
  left:-600px;
  clip-path:polygon(38% 10%,53% 25%,61% 60%,47% 90%,40% 91%,33%85%, 30% 60%,25% 25%);
  width:200px;
  height:200px;
  background-color: rgba(70, 180, 128, 0.692);
  display:block;
  
}

#infoQ_cover{
  position:relative;
  top:-1050px;
  left:-850px;
  clip-path:polygon(15% 18%, 30% 20%,50% 30%,53% 50%, 45% 50%, 48% 90%, 35% 90%, 33% 45%, 3% 45%, 3% 36%, 20% 35%);
  width:200px;
  height:200px;
  background-color: rgba(243, 181, 10, 0.692);
  display:block;
  
}

#law_cover{
  position:relative;
  top:-570px;
  left:-450px;
  clip-path:polygon(25% 3%, 55% 15%, 48% 45%, 90% 60%, 85% 85%, 55% 80%, 50% 100%, 25% 100%, 2% 90%);
  width:200px;
  height:200px;
  background-color: rgba(228, 66, 187, 0.692);
  display:block;
  
}

#myungjin_cover{
  position:relative;
  top:-700px;
  left:470px;
  clip-path:polygon(10% 35%,20% 40%, 20% 45%, 95% 65%, 85% 95%,0% 65%);
  width:250px;
  height:250px;
  background-color: rgba(103, 243, 10, 0.692);
  display:block;
  
}

#manhae_cover{
  position:relative;
  top:-600px;
  left:470px;
  clip-path:polygon(33% 13%, 50% 13%,38% 65%,18% 58%);
  width:250px;
  height:250px;
  background-color: rgba(10, 243, 212, 0.692);
  display:block;
  
}

#science_cover{
  position:relative;
  top:-600px;
  left:-50px;
  clip-path:polygon(21% 50%, 92% 68%, 85% 90%,12% 80%);
  width:250px;
  height:250px;
  background-color: rgba(243, 10, 10, 0.692);
  display:block;
}

#hyehwa_cover{
  position:relative;
  top:-700px;
  left:150px;
  clip-path:polygon(50% 8%, 65% 14%, 40% 100%,5% 95%,15% 70%);
  width:300px;
  height:300px;
  background-color: rgba(10, 243, 41, 0.692);
  display:block;
}

#socialSci_cover{
  position:relative;
  top:-650px;
  left:50px;
  clip-path:polygon(45%10%, 65% 18%, 48% 80%,42% 100%,20% 93%);
  width:250px;
  height:250px;
  background-color: rgba(99, 10, 243, 0.329);
  display:block;
}

#business_cover{
  position:relative;
  top:-800px;
  left:1100px;
  clip-path:polygon(50%20%,90% 35%, 75% 85%, 40% 95%,40% 75%,55% 70%, 63% 45%, 42% 40%);
  width:250px;
  height:250px;
  background-color: rgba(157, 241, 1, 0.692);
  display:block;
}

#culture_cover{
  position:relative;
  top:-1020px;
  left:900px;
  clip-path:polygon(68% 3%,92% 8%, 70% 100%, 40% 90%);
  width:250px;
  height:250px;
  background-color: rgba(0, 204, 255, 0.692);
  display:block;
}

#child{
  width:100%;
}