.tableBox{
    width:70%;
    position:relative;
    display: none;
    
    border-radius: 10px;
}

.day{
    width:20%;

    position: absolute;
}

.tableBox .title{
    background-color: rgb(253, 178, 38);
}

.oneBox{
    
    height:100px;
    width:100%;
    position :absolute;
}

.oneHalfBox{

    height:150px;
    width:100%;
    position :absolute;
}
.twoBox{
    height:200px;
    width:100%;
    position :absolute;
}

.twoHalfBox{

    height:250px;
    width:100%;
    position :absolute;
}



.twoHalfBox{

    height:250px;
    width:100%;
    position :absolute;
}

.threeBox{
    height:300px;
    width:100%;
    position :absolute;
}
.threeHalfBox{
    height:350px;
    width:100%;
    position :absolute;
}

.fourBox{
    height:400px;
    width:100%;
    position :absolute;
}

.timeBox{
    width:520%;
    left:-30px;
    position :absolute;
    border-top:1px solid rgba(0, 0, 0, 0.322);
}
.mon{
 left:0%;   
    border-right: 1px solid black;
 height:100%;
}

.tue{
    left:20%;
    border-right: 1px solid black;
 height:100%;
}

.wed{
    left:40%;
    border-right: 1px solid black;
    height:100%;
}

.thr{
    left:60%;
    border-right: 1px solid black;
    height:100%;
}

.fri{
    left:80%;
    
    height:100%;
}

.nine{
    top:100px;
}

.ten{
    top:200px;
}
.eleven{
    top:300px;
}

.elevenHalf{
    top:350px;
}

.twelve{
    top:400px;
}

.thirteen{
    top:500px;
}

.thirteenHalf{
    top:550px;
}

.fourteen{
    top:600px;
}

.fifteen{
    top:700px;
}

.sixteen{
    top:800px;
}

.seventeen{
    top:900px;
}

.seventeenHalf{
    top:950px;
}

.eighteen{
    top:1000px;
}

.lecture1{
    background-color: lightblue;
}

.lecture2{
    background-color: lightcoral;
}

.lecture3{
    background-color: lightgoldenrodyellow;
}

.lecture4{
    background-color: lightgreen;
}

.lecture5{
    background-color: lightskyblue;
}

.lecture6{
    background-color: lightpink;
}